@{

    Layout = null;
    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" ; charset="utf-8" />
    <title>人臉辨識系統</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style type="text/css">
        body {
            font-family: Arial,Arial, Helvetica, sans-serif;
        }

        h2, h3 {
            margin-top: 0;
        }

        form {
            margin-top: 15px;
        }

            form > input {
                margin-right: 15px;
            }

        #buttonhide {
            background: transparent;
            border: none !important;
            font-size: 0;
        }
    </style>
</head>
<body  class="container card p-5" >
    <br />
    <div class="col-md-2"></div>
    <div class="col-md-4" style="margin:0 auto">
        <div class="panel panel-default">
            <div class="panel-heading">
            <h1 style="text-align:center">相機</h1>
            </div>
            <div class="panel-body">
                <div id="my_camera"></div>
                <form>

                    <button type="button" class="btn btn-success"
                            onclick="take_snapshot()">
                        Take SnapShot
                    </button>  
                   
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="margin:0 auto">
        <div class="panel panel-default">
            <div class="panel-heading">
               <br>
            </div>

            <div class="panel-body">
                <div id="results"></div>
            </div>
            <br />
            <br />
        </div>
    </div>
    <div class="col-md-2"></div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="~/webcam/webcam.js"></script>
    <script language="JavaScript">
        Webcam.set(
            {
                width: 320,
                height: 240,
                image_format: 'jpeg',
                jpeg_quality: 90
            });
        Webcam.attach('#my_camera');
    </script>
    <script language="JavaScript">
        function take_snapshot() {
            $(".btn").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loadng...');
            $(".btn").prop("disabled", true);
            Webcam.snap(function (data_uri) {
                document.getElementById('results').innerHTML = '<img id="img1" src="' + data_uri + '"/>'
                Webcam.upload(data_uri, '@Url.Content("~/CheckTicket/Capture")',

                    function (code, text) {
                        /*alert('Photo Captured');*/
                        
                        if (text) {

                            console.log(text);
                            window.location.href = "@Url.Content("~/CheckTicket/CheckCustomerOrderDetails/?id=")" + (+JSON.parse(text));

                        }
                        else {
                            alert("無此顧客的購票紀錄");
                        }
                    });
            });
        }

        function CheckCustomerOrderDetail(text) {


        }
    </script>
</body>
</html>