
@{
    ViewData["Title"] = "Analyze";
}


<!-- Blank Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
        <div class="text-center">
            <iframe title="0528_IGO分析_美食+住宿+電影+展覽(O)_景點__評論(O)" width="1200" height="720" src="https://app.powerbi.com/view?r=eyJrIjoiMzFlMmIwZjQtYmEzZS00N2NkLTliZWQtNWY2MzAyYjU3MDRkIiwidCI6ImM3ODUyZmFjLWU4MTQtNGIyZi04MzZmLWI0M2ZlNDkxMjVjZCIsImMiOjEwfQ%3D%3D&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>    </div>
</div>
<!-- Blank End -->

