<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

</head>
<body>
    @*<h3>取得憑證資料:</h3>
        <div id="accesstoken" class="align-text-bottom">
        </div>*@

    @*<h3>api 資料:</h3>
        <div id="apireponse" class="align-text-bottom">
        </div>*@
    <div class="row justify-content-center">
        <div @*class="col-lg-10 border rounded p-1"*@>
            <div @*class="border rounded text-center p-1"*@>
                <div class="bg-transparent rounded text-center p-5">
                    <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                    <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                        @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                            <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="row justify-content-center text-warning"> 停車場剩餘車位查詢</h3><button class="planB"><img src="~/img/park.png" style="float:left" width="25" height="25"></button>
    <label class="text-dark" style="overflow:auto">請選擇欲查詢的縣市城市</label>
    <select>
        <option value="" id="non"></option>
        <option value="https://tdx.transportdata.tw/api/basic/v1/Parking/OffStreet/ParkingAvailability/City/Tainan?%24top=30&%24format=JSON" id="Tainan">台南</option>
        <option value="https://tdx.transportdata.tw/api/basic/v1/Parking/OffStreet/ParkingAvailability/City/Keelung?%24top=30&%24format=JSON" id="Keelung">基隆</option>
        <option value="https://tdx.transportdata.tw/api/basic/v1/Parking/OffStreet/ParkingAvailability/City/YilanCounty?%24top=30&%24format=JSON">宜蘭</option>
        <option value="https://tdx.transportdata.tw/api/basic/v1/Parking/OffStreet/ParkingAvailability/City/HualienCounty?%24top=30&%24format=JSON" id="HualienCounty">花蓮</option>
    </select>
    @*<p id="parkname"></p>
        <p id="avaliblespace"></p>*@
    <table class="table table-striped">
        <thead>
            <tr><th></th><th>停車場名稱</th><th>剩餘停車位</th><th>最後更新時間</th></tr>
        </thead>
        <tbody>
        </tbody>

    </table>
    @*Bottom*@
    <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="row justify-content-center">
            <div @*class="col-lg-10 border rounded p-1"*@>
                <div @*class="border rounded text-center p-1"*@>
                    <div class="bg-transparent rounded text-center p-5">
                        <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                        <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                            @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                                <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Bottom*@
    @*Bottom*@
    <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="row justify-content-center">
            <div @*class="col-lg-10 border rounded p-1"*@>
                <div @*class="border rounded text-center p-1"*@>
                    <div class="bg-transparent rounded text-center p-5">
                        <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                        <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                            @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                                <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Bottom*@

</body>
</html>
<script>
    let accesstoken = "";
    let request_url = "";
    let selCity = document.querySelector("select");
    //selCity.addEventListener("change", showInfo);
    selCity.addEventListener("change", showInfo);
    function showInfo() {
        $("tbody").empty();
        request_url = selCity.options[selCity.selectedIndex].value;
        //console.log(request_url);

        GetAuthorizationHeader();
        GetApiResponse();  /*改為chang事件才出現資料*/
    };
    //$(function ()
    //{
    //    GetAuthorizationHeader();

    //    ///*GetApiResponse();*/  原先網頁一載入即出現資料


    //});


    function GetAuthorizationHeader() {
        const parameter = {
            grant_type: "client_credentials",
            client_id: "joychang97-26982d3d-ab86-4eed",
            client_secret: "7417fd55-e3be-44bb-aa7d-dab7d4fd7f39"
        };

        let auth_url = "https://tdx.transportdata.tw/auth/realms/TDXConnect/protocol/openid-connect/token";

        $.ajax({
            type: "POST",
            url: auth_url,
            crossDomain: true,
            dataType: 'JSON',
            data: parameter,
            async: false,
            success: function (data) {
                //$("#accesstoken").text(JSON.stringify(data));
                accesstokenStr = JSON.stringify(data);  //改用變數記accesstokenStr

            },
            error: function (xhr, textStatus, thrownError) {

            }
        });
    }


    function GetApiResponse() {
        //let accesstokenStr = $("#accesstoken").text();

        let accesstoken = JSON.parse(accesstokenStr);


        if (accesstoken != undefined) {
            $.ajax(
                {
                    type: 'GET',
                    //url: 'https://tdx.transportdata.tw/api/basic/v1/Parking/OffStreet/ParkingAvailability/City/Tainan?%24top=30&%24format=JSON',
                    //url: 'https://tdx.transportdata.tw/api/basic/v1/Parking/OffStreet/ParkingAvailability/City/Keelung?%24top=30&%24format=JSON',
                    //url: 'https://tdx.transportdata.tw/api/basic/v1/Parking/OffStreet/ParkingAvailability/City/YilanCounty?%24top=30&%24format=JSON',
                    //url: 'https://tdx.transportdata.tw/api/basic/v1/Parking/OffStreet/ParkingAvailability/City/HualienCounty?%24top=30&%24format=JSON',
                    url: request_url,

                    headers:
                    {
                        "authorization": "Bearer " + accesstoken.access_token,
                    },
                    async: false,
                    success: function (Data) {
                        //$('#apireponse').text(JSON.stringify(Data));
                        console.log('Data', Data);
                        var parkingName = Data['ParkingAvailabilities'][0]['CarParkName']['Zh_tw'];
                        var avalibleSpace = Data['ParkingAvailabilities'][0]['AvailableSpaces'];
                        var parkingNumber = Data['ParkingAvailabilities'].length;
                        var updateTime = Data["UpdateTime"];
                        console.log('updateTime', updateTime);
                        //alert(`停車場:${parkingName},剩餘位置:${avalibleSpace},最後更新時間:${updateTime},數量:${parkingNumber}`); //小數點2位
                        //$("#parkname").text(parkingName);
                        //$("#avaliblespace").text(avalibleSpace);

                        for (let i = 0; i < parkingNumber; i++) {
                            let Name = Data['ParkingAvailabilities'][i]['CarParkName']['Zh_tw'];
                            let Space = Data['ParkingAvailabilities'][i]['AvailableSpaces'];
                            let Time = Data["UpdateTime"];


                            if (Space > 0) {

                                $('tbody').append(`<tr><td><img src="/img/alarm.png" width=50 height=50 style="background:transparent"/></td><td>${Name}</td><td>${Space}</td><td>${Time}</td></tr>`)
                            }
                            else {
                                $('tbody').append(`<tr><td></td><td>${Name}</td><td>${Space}</td><td>${Time}</td></tr>`)
                            }



                        }
                        /* theTbody.appendChild(docFrag);*/
                    },
                    error: function (xhr, textStatus, thrownError) {
                        console.log('errorStatus:', textStatus);
                        console.log('Error:', thrownError);
                    }
                });
        }
    }





    $('.planB').on('click', function () {
        window.location.href = 'backupParking';
    })

</script>