

    <link rel="stylesheet" href="~/css2/auto.css">
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">

 
<body >
     <div class="container-fluid page-header mb-5 p-0" style="background-image: url(/img/wrong_question.jpg)">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center pb-5">
                @*<h1 class="display-3 text-white mb-3 animated slideInDown">IGO Helper</h1>*@
                <h2 style="color:orange">你好。需要什麼協助？</h2>


                @using (Html.BeginForm("Helper", "About", FormMethod.Post))
                {
                    

                        //@:關鍵字 @Html.TextBox("txtKeyword")


            <div class="input-group">

                <input type="text" class="form-control  rounded" id="question" name="txtKeyword" placeholder="尋找任何東西" aria-label="Search" aria-describedby="search-addon" />
                <input type="hidden" id="questionid" name="FHelperId" />

                <input type="button" value="提交"  class="btn btn-outline-primary"  onclick=jump() />
                <br /><br />

                @ViewBag.Message
            </div>
                   


                }




            </div>


        </div>

    </div>


    <div id="full-1" >
        <div class="col-md-2"> </div>


        <div class="col-md-8" style="margin:auto;align-content:center;">

            <h6 style="text-align:center;color:orange"><I>旅行是段與自己獨處的時光，既浪漫又艱辛，但旅行能讓人找到自己。</I></h6>

            <br>

            @*<h3>搜尋常見問題?</h3>
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="搜尋任何東西" aria-label="Search" aria-describedby="search-addon" />
            <input type="submit" class="btn btn-outline-primary"/>
        </div>*@

            <br />

            <h2 class="u-text u-text-default u-text-1" style="color:orange">
                熱門常見問題
            </h2>



            <div class="container">
                <div class="row justify-content-center">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    如何自行申請取消訂單
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">1. 登入IGO 會員帳號 2. 登入後，右上方，點擊自己的頭像（圖片）--> 訂單管理 3. 選擇欲取消之訂單  4. 在訂單內選擇按鍵“申請取消” 5. 等候回覆通知訊息</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    已經前往目的地了，卻聯絡不到店家怎麼辦？
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    如果您已經抵達目的地，但聯繫不上店家：請聯繫IGO協助您聯繫店家。 另外您也可以透過緊急服務與我們聯繫。
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                        如何註冊帳戶？
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        創建IGO帳號完全免費，您可透過 [免費手機註冊]

                                        1.進入IGO.com，點選右上方『登入/註冊』，選擇您需使用之社交平台。
                                        2.輸入您的社交平台帳號及密碼。
                                        3.要求允許『同意』。
                                        4.登入帳戶成功後，官網右上方將會顯示您的社交平台大頭貼，即可訂購商品。
                                        IGO官網上使用手機註冊

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="bg-light py-5 service-5">
                        <div class="container">
                            <!-- Row  -->
                            <div class="row">
                                <!-- Column -->


                                <div class="col-md-4 wrap-service5-box">
                                    <div class="card card-shadow border-0 mb-4">
                                        <div class="card-body d-flex">
                                            @*<div class="mr-4 mb-2 text-success-gradiant icon-size">A</div>*@
                                            <div class="">



                                                <h6 class="font-weight-medium"><a href="~/About/HelpByAccount">帳號相關  <img src="~/img/account.png" /></a></h6>

                                                <p class="mt-3">註冊、更改密碼和變更個人資訊相關</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Column -->
                                <!-- Column -->
                                <div class="col-md-4 wrap-service5-box">
                                    <div class="card card-shadow border-0 mb-4">
                                        <div class="card-body d-flex">
                                            @*<div class="mr-4 mb-2 text-success-gradiant icon-size">P</div>*@
                                            <div class="">

                                                <h6 class="font-weight-medium"><a href="~/About/HelpByPayment" class="linking">付款&收據   <img src="~/img/payment.png" /></a></h6>

                                                <p class="mt-3">貨幣、付款和IGO交流交易時相關</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Column -->
                                <!-- Column -->
                                <div class="col-md-4 wrap-service5-box">
                                    <div class="card card-shadow border-0 mb-4">
                                        <div class="card-body d-flex">
                                            @*<div class="mr-4 mb-2 text-success-gradiant icon-size">O</div>*@
                                            <div class="">
                                                <h6 class="font-weight-medium"><a href="~/About/HelpByBuyProcess" class="linking">購買須知  <img src="~/img/order.png" /></a></h6>
                                                <p class="mt-3">多久前訂購、訂錯或額滿時相關</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Column -->
                                <!-- Column -->
                                <div class="col-md-4 wrap-service5-box">
                                    <div class="card card-shadow border-0 mb-4">
                                        <div class="card-body d-flex">
                                            @*<div class="mr-4 mb-2 text-success-gradiant icon-size">T</div>*@
                                            <div class="">
                                                <h6 class="font-weight-medium"><a href="~/About/HelpByUsage" class="linking">使用條款<img src="~/img/law.png" /></a></h6>
                                                <p class="mt-3">服務條款、隱私權和最優價格保證</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Column -->
                                <!-- Column -->
                                <div class="col-md-4 wrap-service5-box">
                                    <div class="card card-shadow border-0 mb-4">
                                        <div class="card-body d-flex">
                                            @*<div class="mr-4 mb-2 text-success-gradiant icon-size">L</div>*@
                                            <div class="">
                                                <h6 class="font-weight-medium"><a href="~/About/HelpByTravel" class="linking">旅途期間 <img src="~/img/tour.png" /> </a></h6>
                                                <p class="mt-3">緊急聯絡方式、連絡店家等相關</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Column -->
                                <!-- Column -->
                                <div class="col-md-4 wrap-service5-box">
                                    <div class="card card-shadow border-0 mb-4">
                                        <div class="card-body d-flex">
                                            @*<div class="mr-4 mb-2 text-success-gradiant icon-size">F</div>*@
                                            <div class="">
                                                <h6 class="font-weight-medium"><a href="~/About/HelpByCancel" class="linking">退改規範 <img src="~/img/Refund.png" /></a></h6>
                                                <p class="mt-3">退款及交通延誤</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="col-md-12 mt-3 text-center">
                                <a class="btn btn-success-gradiant btn-md border-0 text-white"><span>全部問題</span></a>
                            </div>*@
                            </div>
                        </div>
                    </div>


                </div>
            </div>


            <div class="col-md-2"></div>

        </div>


        @*Bottom*@
        <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="row justify-content-center">
                <div @*class="col-lg-10 border rounded p-1"*@>
                    <div @*class="border rounded text-center p-1"*@>
                        <div class="bg-transparent rounded text-center p-5">
                            <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                            <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                                @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                                    <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*Bottom*@
        <!-- Footer End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>


</body>

@section Scripts {


    <script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    
    <script>

        $(function () {
            $("#question").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Content("~/About/AutoComplete")',
                        data: {"prefix": request.term },
                        dataType: "json",
                        method: "POST",
                        /*contentType: "application/json; charset=utf-8",*/
                        success: function (data) {
                            console.log(data);
                            response($.map(data, function (item) {
                                //console.log("123");
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response);
                        }
                        ,
                        failure: function (response) {
                            alert(response);
                        }
                    });
                },
                select: function (e, i) {
                    $("#questionid").val(i.item.val);
                },
                minLength: 2
            });
        });


        //let btn = $('#btn');

        

        function jump() {

            let keyword = document.querySelector('#question').value;

            if (keyword.includes("如何註冊IGO帳戶？")) {
                window.location.href = "/About/HelpByAccountDetail_1";
            }
            else if (keyword.includes( "【註冊】訂購需要先入會員嗎？"))
                window.location.href = "/About/HelpByAccountDetail_2";
            else if (keyword.includes( "【帳號設定】如何重置密碼？"))
                window.location.href = "/About/HelpByAccountDetail_3";
            else if (keyword.includes("【帳號設定】如何更改我在IGO使用的電子郵件地址呢？"))
                window.location.href = "/About/HelpByAccountDetail_4";
            else if (keyword.includes("如何更改個人資料？"))
                window.location.href = "/About/HelpByAccountDetail_5";
            else if (keyword.includes("為什麼必須透過IGO進行交流和交易？"))
                window.location.href = "/About/HelpByPaymentDetail_1";
            else if (keyword.includes("為什麼無法付款？"))
                window.location.href = "/About/HelpByPaymentDetail_2";
            else if (keyword.includes("我可以使用何種方式付款？"))
                window.location.href = "/About/HelpByPaymentDetail_3";
            else if (keyword.includes("我可以用任何貨幣付款嗎？"))
                window.location.href = "/About/HelpByPaymentDetail_4";
            else if (keyword.includes("網站訂購流程"))
                window.location.href = "/About/HelpByBuyProcessDetail_1";
            else if (keyword.includes("我要多久之前訂購？"))
                window.location.href = "/About/HelpByBuyProcessDetail_2";
            else if (keyword.includes("為什麼商品網頁上日期無法點選訂購？"))
                window.location.href = "/About/HelpByBuyProcessDetail_3";
            else if (keyword.includes("訂錯日期是否可更改？"))
                window.location.href = "/About/HelpByBuyProcessDetail_4";
            else if (keyword.includes("額滿時，我該怎麼辦？"))
                window.location.href = "/About/HelpByBuyProcessDetail_5";
            else if (keyword.includes("如何自行申請取消訂單"))
                window.location.href = "/About/HelpByBuyProcessDetail_6";
            else if (keyword.includes("我現在不確定飯店住哪，我可以出發前提供嗎？"))
                window.location.href = "/About/HelpByBuyProcessDetail_7";
            else if (keyword.includes("緊急聯絡方式"))
                window.location.href = "/About/HelpByTravelDetail_1";
            else if (keyword.includes("已經前往目的地了，卻聯絡不到店家怎麼辦？"))
                window.location.href = "/About/HelpByTravelDetail_2";
            else if (keyword.includes("若臨時行程變更，該如何取消？"))
                window.location.href = "/About/HelpByTravelDetail_3";
            else if (keyword.includes("如果旅遊行程出發當天，我不小心遲到了該怎麼辦?"))
                window.location.href = "/About/HelpByTravelDetail_4";
            else if (keyword.includes("如果因天候下雨或是當日的體驗行程因不可抗力因素被取消時，我該如何處理？"))
                window.location.href = "/About/HelpByTravelDetail_5";
            else if (keyword.includes("在哪些情有可原的狀況下，旅客可獲得退款？"))
                window.location.href = "/About/HelpByCancelDetail_1";
            else if (keyword.includes("醫生證明 範例"))
                window.location.href = "/About/HelpByCancelDetail_2";
            else if (keyword.includes("交通延誤"))
                window.location.href = "/About/HelpByCancelDetail_3";
            else {
                console.log("AA");
            }

        };
            
            
         

    </script>
}



