


@{
    ViewData["Title"] = "HelpByAccountDetail_1";
}

<head>


    <link rel="stylesheet" href="/css2/all.css" />

</head>

<body>

    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(/img/wrong_question.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center pb-5">
                @*<h1 class="display-3 text-white mb-3 animated slideInDown">IGO Helper</h1>*@
                <h3 style="color:orange">您好。請問您需要甚麼協助?</h3>
                <div class="input-group">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    <button type="button" class="btn btn-outline-primary">search</button>
                </div>

                @*<nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">IGO Helper</li>
                        </ol>
                    </nav>*@



            </div>


        </div>

    </div>


    <div id="full-1">
        <div class="col-md-2"> </div>

        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">幫助中心</a></li>
                <li class="breadcrumb-item"><a href="#">取消／退費／更改相關</a></li>
                <li class="breadcrumb-item active" aria-current="page">在哪些情有可原的狀況下，旅客可獲得退款？</li>
            </ol>
        </nav>

        <div class="col-md-8" style="margin:auto; background-color: white; border-radius:20px 20px ">
            <br />



            <div style="color: darkorange" align="left">
                <h5 class="card-title" style="color:orange" align="center">在哪些情有可原的狀況下，旅客可獲得退款？</h5>
                <br />
                <h6 style="color:wheat">  </h6>
                <p class="card-text">
                    <ul style="list-style: none">
                        <li style="list-style: none">
                            我們明白，在發生某些情況時，旅客的旅行計劃會受到影響。店家可依據情況，授權不受取消規定限制而給旅客退款。旅客可能會獲得全額退款，也代表店家將不會收到任何帳款。







                        </li>

                        <li style="list-style: none">
                            旅客所需了解的詳細信息：
                        </li>

                        <li style="list-style: none">


                            情有可原的情況，提供適當的有效證明文件，只有情有可原情況的政策中規定的情況才會獲得考慮。具體包括:
                            *旅客二等親內的直系血親屬去世(須提供：死亡證明與親戚關係證明)
                            *旅客二等親內的直系血親屬生重病(須提供：重症醫生證明與親戚關係證明)
                            *目的地國家發生嚴重自然災害而導致行程無法繼續
                            *原訂搭乘班機停飛或嚴重延遲時(須提供航空公司證明)
                            1. 如果您確定出現指定情有可原的情況，因而無法前往行程，請盡快取消預訂並聯繫IGO
                            2. 提供相關證明文件。 IGO將根據您提供的證明文件，確定情有可原情況的政策是否適用於您的預訂。請注意，如果您無法提供適當的證明文件，IGO將無法為您的預訂提供退款。
                            證明文件的類型可包括：公立醫院或地區型醫院、合格醫療院所診所由合格醫師開具且用印之診斷證明書（不包含一般之感冒、輕微擦傷或其他對旅行不造成影響之輕微身體不適），內容包含有由醫師記載您確實不適合旅行之內容、有效的訃聞或醫院開具之死亡證明書等等。

                        </li>



                        【退款佐證資料特種個資同意條款】



                        請留意，如旅行計畫變更時，您有機會獲得商品供應商同意退款，但您需提供相關證明文件（可能包含診斷證明等特


                        種個資），並同意我們審核或提交商品供應商作為評估的佐證（完整退款資訊請見：官網首頁／常見問題與幫助／退


                        改規範）。如您不願提供，將可能影響退款的申請審核。更多關於我們如何蒐集、處理及利用個人資料，以及您的權


                        利行使等資訊，請詳見IGO隱私權保護政策。


                        *購買標註為【商城】行程商品，以商品頁載明的商家取消退訂規則為主，不適用上述說明。

                        </li>




                   

                        <li style="list-style: none">

                        </li>
                        <li style="list-style: none">

                        </li>


                        <li style="list-style: none">


                        </li>

                        <li style="list-style: none">

                        </li>


                        <li style="list-style: none">

                        </li>


                        <li style="list-style: none">

                        <li>

                        <li style="list-style: none">



                        </li>




                    </ul>

                </p>
                <hr />
                <label style="color:orange">這是否有幫助？</label>
                <a href="#" class="card-link">是 </a>
                <label>/</label>
                <a href="#" class="card-link">否</a>
            </div>
        </div>


    </div>
    <div class="col-md-2"> </div>
    @*Bottom*@
    <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="row justify-content-center">
            <div @*class="col-lg-10 border rounded p-1"*@>
                <div @*class="border rounded text-center p-1"*@>
                    <div class="bg-transparent rounded text-center p-5">
                        <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                        <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                            @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                                <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Bottom*@
    <!-- Footer End -->
    <!-- Back to Top -->
</body>








