@model IEnumerable<IGO.ViewModels.CProductViewModel>

@{
    ViewData["Title"] = "List";
}


<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-5" style="background-image: url('/img/Exhibitionh.jpg');">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">展覽列表</h1>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Booking Start -->
<div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="bg-white shadow" style="padding: 35px;">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-2">
                            <select class="form-select">
                                <option selected>請選擇縣市</option>
                                <option value="1">台北</option>
                                <option value="2">台南</option>
                                <option value="3">高雄</option>
                                <option value="4">台東</option>
                                <option value="5">雲林</option>
                                <option value="6">台中</option>

                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-select">
                                <option selected>評價高到低</option>
                                <option value="1">評價低到高</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-select">
                                <option selected>人氣高到低</option>
                                <option value="1">人氣低到高</option>
                            </select>
                        </div>
                        <div class="col-md-2 ">
                            <input type="number" name="page" class="col-3" />
                            <label id="maxPage">/10</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary w-100">搜尋</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Booking End -->
<!-- Room Start -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">商品列表</h6>
            <h1 class="mb-5">展覽 <span class="text-primary text-uppercase">列表</span></h1>
        </div>
        <div class="row g-5 align-items-center">
            <div class="row g-4">

                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="room-item shadow rounded overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid" src="~/img/@item.getPhotoPath" alt="封面圖片">
                                <p class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">展期至 @item.FEndTime</p>
                            </div>
                            <div class="p-4 mt-2">
                                <div class="d-flex justify-content-between mb-3">
                                    <h4 class="mb-0"></h4>
                                </div>
                                <div class="d-flex mb-3">
                                    @for (int s = 1; s <= 4; s++)
                                    {
                                        <i class="fa fa-star text-primary"></i>
                                    }
                                </div>
                                <div class="d-flex justify-content-lg-start">
                                    <h4>@item.FProductName</h4>

                                </div>
                                <div class="d-flex justify-content-lg-start">

                                </div>
                                @{
                                    //int remaining = (int)item.StorageQuantity - (int)item.OrderQuantity;
                                }
                                <div class="d-flex justify-content-lg-start">
                                    |
                                    @foreach (var q in item.tickets)
                                    {
                                        <p>@q.ticket 價格:NT$ @q.price.ToString("0")  |  </p>
                                    }
                                    @*剩餘數量:XX 張  || 已售出:XX 張*@
                                </div>
                                <div class="d-flex justify-content-lg-end">
                                    <a href="~/Products/Food" class="btn btn-primary rounded py-2 px-4 align-items-end">詳細資訊</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@*Bottom*@
<div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="row justify-content-center">
        <div @*class="col-lg-10 border rounded p-1"*@>
            <div @*class="border rounded text-center p-1"*@>
                <div class="bg-transparent rounded text-center p-5">
                    <h4 class="mb-4">@*Subscribe Our*@ <span class="text-primary text-uppercase">@*Newsletter*@</span></h4>
                    <div @*class="position-relative mx-auto"*@ style="max-width: 400px;">
                        @*<input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                            <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Submit</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Bottom*@

@section Styles{
    <style>
        .ellipsis {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>

}

@section Scripts{
    <script>
        const hearts = document.querySelectorAll("#btn_heart");
        console.log(hearts);
        hearts.forEach(function (heart) {
            heart.addEventListener("click", () => {
                $(this).toggleClass("fa-regular")
            })
        })

    </script>
}