
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-5" style="background-image: url('/img/Viewh.jpg');">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown" id="ListName">美食列表</h1>
        </div>
    </div>
</div>
<!-- Page Header End -->

function

@section Scripts{
<script>
    @*string list="";
    $(function () {
    loadData();
    })
    function LoadData() {

        $.get('@Url.Action(" TitleList","Product")'), { fsubCategoryId: '@(Context.Request.Query["fsubcategoryid"])' },
            function (resp) {
                list = resp;
                $('#ListName').text(list + "列表");
            }*@
        @*$.get('@Url.Action(" IndexTotal","Product")'), {}*@
</script>
    }










